# IDE local files
*.vscode
*.idea

# Local packages
*egg*

# Pycache
*.pyc
*__*

# Local directories
data/
result/
out/

# Jupyter
*ipynb

# Local settings - include example files
*local_settings*
!*.example