# IDE local files
*.vscode
*.idea

# Local packages
*egg*

# Pycache
*.png
*.csv
*.pyc
*.npy
*.npz
*.zip
*.json
*.log
*.txt
*__*

# Local directories
data/
result/
out/

# Jupyter
notebooks/*
*ipynb

# Local settings - include example files
*local_settings*
!*.example