{
    "out_dir"                  : "/path/to/your/output/directory",
    "wordnet_dir"              : "/path/to/your/wordnet/directory",
    "alexnet_dir"              : "/path/to/your/cluster/directory",
    "neuron_scaling_file"      : "path/to/neuron_scaling_pickle_data",
}
